MAPOFMATH_CONTENT_DIR=D:\Mao@Huawei-NDZ-WFH9A\MATH\Mapofmath\content
MAPOFMATH_DATA_BACKEND=neo4j
MAPOFMATH_NEO4J_URI=bolt://localhost:7687
MAPOFMATH_NEO4J_USERNAME=neo4j
MAPOFMATH_NEO4J_PASSWORD=mapofmath
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
